* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}



.container {
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    border-radius: 10px;
}

img {
flex: 1 0 50%;
border-radius: 10px 0px 0px 10px;
object-fit: cover;
}

.right-container{
    padding: 33px;
}

h3 {
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;

}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    color: hsl(212, 21%, 14%);
    margin: 20px 0px 20px 0px;
    line-height: 33px;
}

p {
    color: hsl(228, 12%, 48%);
    line-height: 24px;
    font-size: 14px;
}

.price {
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
   
    
}

span:first-child {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 30px;
    margin-right: 15px;

}

span:last-child {
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    text-decoration: line-through;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color:hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
button > svg {
    margin-right: 8px;
}
footer {
    font-size: 11px;
    text-align: center;
    color: hsl(228, 12%, 48%);
    margin-bottom: 10px;
}

a {
    color: inherit;
}
@media only screen and (max-width: 600px) {
    body {
        height: 700px;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 370px;
        margin: 25px;
    }   
    img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
 

}
